<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
				<form name="loginForm" class="text-center" method="post" action="/login">
					<div class="row">
						<br />
						<h3>Log into Skiggle.</h3>
						<br />
					</div>
					<div class="row">
						<input class="form-text-input" name="txtEmail" type="email" placeholder="Email Address" required>
					</div>
					<div class="row">
						<input class="form-text-input" name="txtPassword" type="password" placeholder="Password" required>
					</div>
					<div class="row">
						<input class="form-submit-btn" name="btnSubmit" type="submit" value="Log In">
					</div>
				</form>	
				<div class="row text-center">
					<br />
					<br />
					<p>Don't have an account? <a href="#/signup">Sign Up.</a></p>
				</div>
			</div>
		</div>			
	</div>
</section>