<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
				<form name="signUpForm" class="text-center" method="post" action="/signup">
					<div class="row">
						<br />
						<h3>Sign up for Skiggle.</h3>
						<br />
					</div>
					<fieldset>
						<legend>Account Details</legend>
						<div class="row">
							<input ng-model="user.email" class="form-text-input" name="txtEmail" type="email" placeholder="Email Address" required>
						</div>
						<div class="row">
							<input ng-model="user.password" class="form-text-input" name="txtPassword" type="password" placeholder="Password" required>
						</div>
						<div class="row">
							<input ng-model="user.confirmPassword" class="form-text-input" name="txtConfirmPassword" type="password" placeholder="Confirm Password" required>
						</div>
					</fieldset>
					<br />
					<fieldset>
						<legend>Personal Details</legend>
						<div class="row">
							<select ng-model="user.title" name="selTitle" class="form-select-input" required>
								<option value="" selected disabled>Title</option>
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Master">Master</option>
								<option value="Miss">Miss</option>
								<option value="Ms">Ms</option>
								<option value="Mx">Mx</option>
							</select>
						</div>
						<div class="row">
							<input ng-model="user.firstName" class="form-text-input" name="txtFirstName" type="text" placeholder="First Name" required>
						</div>
						<div class="row">
							<input ng-model="user.surname" class="form-text-input" name="txtSurname" type="text" placeholder="Surname" required>
						</div>
						<div class="row">
							<span>Date of Birth: </span>
							<input ng-model="user.day" class="form-date-input form-day-month" name="txtDay" type="number" placeholder="DD" min="1" max="31" required> /
							<input ng-model="user.month" class="form-date-input form-day-month" name="txtMonth" type="number" placeholder="MM" min="1" max="12" required> /
							<input ng-model="user.year" class="form-date-input form-year" name="txtYear" type="number" placeholder="YYYY" required>
						</div>
					</fieldset>
					<br />
					<fieldset>
						<legend>Contact Details</legend>
						<div class="row">
							<input ng-model="user.telephoneNo" class="form-text-input" name="txtTelephoneNo" type="text" placeholder="Telephone No." maxlength="20" required>
						</div>
						<div class="row">
							<input ng-model="user.mobileNo" class="form-text-input" name="txtMobileNo" type="text" placeholder="Mobile No." maxlength="20" required>
						</div>
						<div class="row">
							<input ng-model="user.postcode" class="form-text-input" name="txtPostcode" type="text" placeholder="Postcode" maxlength="20" required>
						</div>
					</fieldset>
					<div class="row">
						<input ng-model="agreeTandCs" type="checkbox" name="cbxAgree">
						<span> I have read and agreed to the T&C's.</span>
					</div>
					<div class="row">
						<br />
						<input ng-disabled="!agreeTandCs" class="form-submit-btn" name="btnSubmit" type="submit" value="Sign Up">
					</div>
				</form>
				<div class="row text-center">
					<br />
					<br />
					<p>Already have an account? <a href="#/login">Log In.</a></p>
				</div>
			</div>
		</div>
	</div>
</section>