<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum | Skiggle</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/common/css/style.css">
</head>
<body>
	<header>
        <div class="container">
            <div class="row text-center">
                <a href="#/">
                    <img src="/common/img/SkiggleLogo.png"/>
                </a>
            </div>
            <div class="row">
            	<nav>
                    <ul>
                        <li><a class="redBorder redText" href="/dashboard">Dashboard</a></li>
                        <li><a class="yellowBorder yellowText" href="/marketplace">Marketplace</a></li>
                        <li><a class="greenBorder greenText" href="/forum">Forum</a></li>
                        <li><a class="lightBlueBorder lightBlueText" href="/signout">Sign Out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <footer>
    	<div class="container">
    		<div class="row text-center">
            	<small>© Aethereum Applications 2016</small>
        	</div>
    	</div>
    </footer>
</body>
</html>